<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <h2 class="text-center form-heading"><%= I18n.t :create_dream %></h2>
      <div class="form-inputs">
        <%= simple_form_for @dream do |f| %>
          <%= f.input :title, input_html: { class: 'form-input'} %>
          <%= f.input :description, as: :text, input_html: { class: 'form-input'} %>
           <%= f.input :private, as: :select, input_html: { class: 'form-input'}  %>
         </div>
        <%= f.button :submit, t("dream_create"), class: "form-button" %>
      <% end %>
    </div>
  </div>
</div>

<%= link_to '<i class="fas fa-chevron-left"></i>'.html_safe, :back, class: "back-icon" %>


<% if current_user %>
<nav class="navbar">
 <%= link_to '<i class="fas fa-home"></i>'.html_safe, dreams_path, class: 'home-active' %>
  <%= link_to '<i class="fas fa-plus-circle"></i>'.html_safe, new_dream_path %>
  <%= link_to '<i class="far fa-user"></i>'.html_safe, user_path(current_user) %>
</nav>
<% end %>

