<div class="container">
  <div class="text-center">
    <h1 class="header"> <%= I18n.t :index_heading %> <span class="ec ec-rocket"></span></h1>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <% @dreams.each do |dream|  %>
        <% if dream.private == false %>
        <%= link_to dream_path(dream) do %>
          <div class="card">
              <h2 class="text-center"><%= dream.title %></h2>
              <p class="description"><%= dream.description[0..79] %>
                <% if dream.description.size >= 79 %>
                  <span>...</span>
                <% end %>
              <p class="date"><%= dream.created_at.strftime("%d/%m") %></p>
              <% if policy(dream).edit? %>
                <p class="edit-button"><%= link_to '<i class="fas fa-pencil-alt"></i>'.html_safe, edit_dream_path(dream) %></p>
              <% end %>
              <% if policy(dream).destroy? %>
                    <p class="destroy-button"><%= link_to '<i class="fas fa-trash"></i>'.html_safe, dream, method: :delete, data: { confirm: 'Are you sure?'} %></p>
                <% end %>
            <% end %>
          </div>
        <% end %>
      <% end  %>
    </div>
  </div>

   <% if current_user.admin?%>
   <p><%= link_to 'User index(admin only)', users_path %></p>
   <% end %>
</div>

<% if current_user %>
<nav class="navbar">
 <%= link_to '<i class="fas fa-home"></i>'.html_safe, dreams_path, class: 'icon-active' %>
  <%= link_to '<i class="fas fa-plus-circle"></i>'.html_safe, new_dream_path %>
  <%= link_to '<i class="far fa-user"></i>'.html_safe, user_path(current_user) %>
</nav>
<% end %>


