<h1>All Dreams</h1>
<% @dreams.each do |dream|  %>
  <p><%= link_to dream.title, dream_path(dream) %></p>
  <p><%= dream.description %></p>
  <p><%= dream.user.first_name %></p>
  <p><%= dream.created_at.strftime("%d/%m") %></p>
  <% if policy(dream).edit? %>
    <p><%= link_to "Edit", edit_dream_path(dream) %></p>
  <% end %>
<% end  %>

<hr>

 <% if policy(Dream).new? %>
 <p><%= link_to 'Post a new Dream', new_dream_path %></p>
 <% end %>

<% if policy(User).show? %>
<p><%= link_to 'My profile', user_path(current_user) %></p>
 <% end %>

 <% if current_user.admin?%>
 <p><%= link_to 'User index(admin only)', users_path %></p>
 <% end %>



