<h1>Dreams#new</h1>
<%= simple_form_for @dream do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
   <%= f.check_box :private, checked_value: true, unchecked_value: false %>
  <%= f.button :submit %>
<% end %>
