<div class="container">
  <div class="dream-content">
    <h1 class="text-center main-heading-show"><%= @dream.title %></h1>
    <p><%= @dream.created_at.strftime("%b %d, %Y") %></p>
    <p><%= @dream.description %></h3>
    <p> By: <%= @dream.user.username %></p>
   </div>
   <hr>
   <% if policy(@dream).edit? %>
    <p class="showpage-buttons"><%= link_to '<i class="fas fa-pencil-alt"></i>'.html_safe, edit_dream_path(@dream) %>
   <% end %>
   <% if policy(@dream).destroy? %>
    <%= link_to '<i class="fas fa-trash"></i>'.html_safe, @dream, method: :delete, data: { confirm: 'Are you sure?'} %></p>
    <% end %>
</div>

<% if current_user %>
<nav class="navbar">
 <%= link_to '<i class="fas fa-home"></i>'.html_safe, dreams_path, class: 'home-active' %>
  <%= link_to '<i class="fas fa-plus-circle"></i>'.html_safe, new_dream_path %>
  <%= link_to '<i class="far fa-user"></i>'.html_safe, user_path(current_user) %>
</nav>
<% end %>
