<h1><%= @dream.title %></h1>
<h3><%= @dream.description %></h3>
<p> by: <%= @dream.user.first_name %></p>

<% if policy(@dream).edit? %>
    <p><%= link_to "Update", edit_dream_path(@dream) %></p>
  <% end %>

<% if policy(@dream).destroy? %>
    <p><%= link_to 'Delete', @dream, method: :delete, data: { confirm: 'Are you sure?'} %></p>
  <% end %>

<% if policy(Dream).index? %>
 <p><%= link_to 'Back to index', dreams_path %></p>
 <% end %>
