<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">

      <h2 class="text-center form-heading">Edit <%= resource_name.to_s.humanize %></h2>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <div class="row">
            <div class="col-xs-6">
              <%= f.input :first_name, required: true, placeholder: "John", input_html: { class: 'form-input'} %>
            </div>
            <div class="col-xs-6">
              <%= f.input :last_name, required: true, placeholder: "Doe",  input_html: { class: 'form-input'}%>
            </div>
          </div>
          <%= f.input :email, required: true, autofocus: true,  input_html: { class: 'form-input'} %>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>

          <%= f.input :password,
                      placeholder: "leave it blank if you don't want to change it",
                      required: false,
                      input_html: { autocomplete: "new-password" },  input_html: { class: 'form-input'} %>
          <%= f.input :password_confirmation,
                      required: false,
                      input_html: { autocomplete: "new-password" },  input_html: { class: 'form-input'} %>
          <%= f.input :current_password,
                      required: true,
                      input_html: { autocomplete: "current-password" },  input_html: { class: 'form-input'} %>
                       <%= f.input :photo %>
                      <div class="user-avatar">
                        <p>Avatar picture</p>
                        <i class="fas fa-camera-retro"></i>
                        <span id="file-count">0</span><span>  selected files</span>
                      </div>
                      <%= f.input :photo_cache, as: :hidden %>
                    </div>
                     <div class="form-actions">
          <%= f.button :submit, "Update Information", class: "edit-form-button" %>
            </div>
          </div>
          <%= devise_error_messages! %>



      <% end %>


    </div>
  </div>
</div>

<%= link_to '<i class="fas fa-chevron-left"></i>'.html_safe, :back, class: "back-icon" %>


<% if current_user %>
<nav class="navbar">
 <%= link_to '<i class="fas fa-home"></i>'.html_safe, dreams_path, class: 'home-active' %>
  <%= link_to '<i class="fas fa-plus-circle"></i>'.html_safe, new_dream_path %>
  <%= link_to '<i class="far fa-user"></i>'.html_safe, user_path(current_user) %>
</nav>
<% end %>

