<div class="banner-profile" style="background-image: url(https://images.unsplash.com/photo-1547250859-b4f2cc3e97cb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1893&q=80)">
  <% if @user.photo.url.nil? %>
    <%= cl_image_tag "default_avatar.png", class: "avatar-pic", :width=>200, :height=>200 %>
    <% else %>
     <%= cl_image_tag @user.photo, :width=>200, :height=>200, class: "avatar-pic" %>
     <% end %>
  </div>
</div>

<div class="container">

   <h2 class="text-center user-name"><%= @user.first_name %> <%= @user.last_name %></h2>



  <p class="profile-heading"> <%= I18n.t :my_dreams %> <span class="ec ec-rocket"></span></p>
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <% if @user.dreams.empty? %>
        <p class="profile-subheading"> <%= I18n.t :dreams_none %> <span class="ec ec-disappointed-relieved"></span></p>
        <% else %>
        <% @user.dreams.reverse.each do |dream|  %>
          <%= link_to dream_path(dream) do %>
            <div class="card">
                <h2 class="text-center"><%= dream.title.capitalize %></h2>
                <p class="description"><%= dream.description.capitalize[0..74] %>
                  <% if dream.description.size >= 74 %>
                    <span>...</span>
                  <% end %>
                <p class="date"><%= dream.created_at.strftime("%d/%m") %></p>
                <% if policy(dream).edit? %>
                  <p class="edit-button"><%= link_to '<i class="fas fa-pencil-alt"></i>'.html_safe, edit_dream_path(dream) %></p>
                <% end %>
                  <% if policy(dream).destroy? %>
                    <p class="destroy-button"><%= link_to '<i class="fas fa-trash"></i>'.html_safe, dream, method: :delete, data: { confirm: 'Are you sure?'} %></p>
                <% end %>
              <% end %>
            </div>
        <% end  %>
      <% end %>
    </div>
  </div>
   <p class="signout-button"><%= link_to '<i class="fas fa-sign-out-alt"></i>'.html_safe, destroy_user_session_path, method: :delete %></p>
   <p class="edit-profile-button"><%= link_to '<i class="fas fa-cog"></i>'.html_safe,  edit_user_registration_path %></p>
</div>
<% if current_user %>
<nav class="navbar">
 <%= link_to '<i class="fas fa-home"></i>'.html_safe, dreams_path %>
  <%= link_to '<i class="fas fa-plus-circle"></i>'.html_safe, new_dream_path %>
  <%= link_to '<i class="far fa-user"></i>'.html_safe, user_path(current_user),class: 'icon-active' %>
</nav>
<% end %>


